################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyInventory/.vs/MyInventory/v17/.suo
/.gitignore
*.vsidx
/.vs/MyInventory/FileContentIndex/7779a1d0-2396-4a6b-bdd1-5adc943823cb.vsidx
