@model Product
@{
    ViewData["Title"] = "Details Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.Description</p>
    <p class="card-text">@Model.Price</p>
    @*<input type="text" class="form-control" asp-for="Count" />*@
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

