@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index - Product";
}

<div id="indexCard" class="card text-white">
    <div class="card-header bg-primary">Products List</div>
    <div class="card-body text-dark">
        <div align="right">
            @*<button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#indexCreateModal"><i class="fas fa-plus"></i> &nbsp; Create</button>*@
            @*<a onclick="CreateCategoryPopUp('@Url.Action("Create", "Subcategory",Context.Request.Scheme)', 'Add Subcategory')" class="btn btn-info text-white"><i class="fas fa-plus"></i> &nbsp; Create</a>*@
            <a asp-action="Create" asp-controller="Product" class="btn btn-info text-white"><i class="fas fa-plus"></i> &nbsp; Create</a>
        </div>
        @*<partial name="_subcategoryIndexTable" model="@Model" />*@
        @{ await Html.RenderPartialAsync("_productIndexTable");}

    </div>
</div>
